<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <form method="POST" action="">
           <!-- for csrf token -->
            {% csrf_token %}
            <div class="form-group mb-3">
                <!-- double curly braces is used to display data from the database -->
                {{form.name_first}}
                {{form.name_first.errors}}
            </div>
            <div class="form-group mb-3">
                <!-- double curly braces is used to display data from the database -->
                {{form.name_last}}
                {{form.name_last.errors}}
            </div>
            <div class="form-group mb-3">
                {{form.dob}}
                {{form.dob.errors}}
            </div>
            <div class="form-group mb-3">
                {{form.sex}}
                {{form.sex.errors}}
            </div>
            <div class="form-group mb-3">
                <!-- double curly braces is used to display data from the database -->
                {{form.race}}
                {{form.race.errors}}
            </div>
            <input type="submit" class="btn btn-outline-success" >

        </form>
    </div>
</body>